#f_page{
    /* margin: 12% 45%;
    padding: 0px; */
    padding: 30px;
    margin: 12% 32%;
    width: 600px;
    height: 300px;
    box-sizing: border-box;
    border: solid 1px green;
    border-radius: 10px;
    box-shadow: 3px 5px;
}

#f_page button{
    margin: 45px 40%;
    
    width: 120px;
    height: 25px;
    margin-bottom: 2px;
    border-radius: 9px;
    background-color: gainsboro;
}

label{
    margin: 0px;
    width: 200px;
    padding: 0;
}
#name{
    margin-left: 128px !important;
}
#f_page input{
    margin: 5px;
    width: 250px;
    margin-left: 100px;
    padding: 10px;
    border-radius: 10px;
    /* position: absolute; */
}
select{
    margin: 5px;
    width: 275px;
    padding: 10px;
    margin-left: 160px;
    border-radius: 10px;
}

.hide{
    display: none;
}
.q_pages{
    padding: 10px;
    margin: 12% 32%;
    width: 600px;
    height: 250px;
    border: solid 1px green;
    border-radius: 10px;
    box-shadow: 3px 5px;
}
.q_min{
    /* margin-left: 90%; */
    /* margin-top: 10px; */
    margin: 0px;
    margin-left: 94%;
    padding: 0;
    
}
#t_min{
    /* margin-top: 100px; */
    position: absolute;
    margin-top: -30px;
    margin-left: 490px;
}
.q_pages label{
    font-size: 30px;
}
.q_pages span{
    font-size: 20px;
}

.q_pages input{
    margin-top: 20px;
    padding: 10px;
}
.q_pages button{
    margin: 65px 85%;
    width: 90px;
    margin-bottom: 2px;
    border-radius: 9px;
    background-color: gainsboro;
}

#sec7 {
    padding: 10px;
    margin: 12% 32%;
    width: 600px;
    height: 250px;
    border: solid 1px green;
    border-radius: 10px;
    box-shadow: 3px 5px;
    font-size: large;
    text-align: center;
}

#s_score{
    margin-top: 15%;
}

.form_error{
    font-size: smaller;
    color: red;
    margin: 0;
    margin-left: 200px;
}