#f_page{
    margin: 12% 45%;
    padding: 0px;
}

#f_page button{
    margin: 30px 180%;
    width: 80px;
}

#f_page input{
    margin: 5px;
    width: 250px;
    padding: 10px;
}
select{
    margin: 5px;
    width: 250px;
    padding: 10px;
}

.hide{
    display: none;
}
.q_pages{
    margin: 12% 40%;
    width: 600px;
}
#q_min{
    margin-left: 70%;
    
}
.q_pages label{
    font-size: 30px;
}
.q_pages span{
    font-size: 20px;
}

.q_pages input{
    margin-top: 20px;
    padding: 10px;
}
.q_pages button{
    margin: 30px 69%;
    width: 80px;
}

#sec7 {
    margin: 12% 40%;
}