#f_page{
    margin: 12% 45%;
    padding: 0px;
}

button{
    margin: 30px 180%;
    width: 80px;
}

input{
    margin: 5px;
    width: 250px;
    padding: 10px;
}
select{
    margin: 5px;
    width: 250px;
    padding: 10px;
}

.hide{
    display: none;
}